{% extends "base.html" %}

{% block content %}
<h1>Play Game</h1>

<div class="form-group">
    <label for="gameSelect">Select Game:</label>
    <select class="form-control" id="gameSelect">
        {% for game in games %}
        <option value="{{ game.id }}">{{ game.id }}</option>
        {% endfor %}
    </select>
</div>
<div id="generalGameInfoContainer">
</div>
<div id="playersContainer">
    <!-- Players, their cards, sliders, slider values, and buttons will be displayed here -->
</div>

<script>
$(document).ready(function() {
    $('#gameSelect').on('change', function() {
        const gameId = $(this).val();
        $.get(`http://147.78.130.54:5002/game/${gameId}`, function(gameData) {
            $.get(`http://147.78.130.54:5002/game/${gameId}/current_round`, function(roundData) {
                $.get(`http://147.78.130.54:5002/game/${gameId}/players`, function(playersData) {
                    $('#generalGameInfoContainer').empty();
                    const gameInfo = $('<div class="info-paragraph">').appendTo('#generalGameInfoContainer');
                    $('<p>').text('Current Round: ').append($(`<span class="highlight">${gameData.current_round}</span>`)).appendTo(gameInfo);
                    $('<p>').text('Game State: ').append($(`<span class="highlight">${gameData.game_state}</span>`)).appendTo(gameInfo);
                    $('<p>').text('Talon: ').append($(`<span class="highlight">${roundData.talon}</span>`)).appendTo(gameInfo);

                    const newRoundButtonDiv = $('<div>').appendTo('#generalGameInfoContainer');

                    $('<button>').text('New Round').addClass('btn btn-primary').appendTo(newRoundButtonDiv);

                    $('#playersContainer').empty();
                    const players = [gameData.player0, gameData.player1, gameData.player2];

                    playersData.forEach((playerData, index) => {
                        const playerDiv = $('<div>').addClass('player').appendTo('#playersContainer');

                        if (index === roundData.bid_winner) {
                            $('<h3 style="color: green">').text(`Player ${playerData.id}`).appendTo(playerDiv);
                        }
                        else {
                            $('<h3>').text(`Player ${playerData.id}`).appendTo(playerDiv);
                        }
                        const cardsDiv = $('<div>').addClass('cards').appendTo(playerDiv);

                        if (gameData.game_state == "bidding") {
                            // Add slider for each player
                            const sliderDiv = $('<div>').appendTo(playerDiv);
                            const slider = $('<input type="range">')
                                .attr('id', `sliderPlayer${index}`)
                                .attr('min', roundData.final_bid_amount)
                                .attr('max', 120)
                                .attr('value', 110) // Default value
                                .appendTo(sliderDiv);
                            const sliderValue = $('<span>').text(slider.val()).appendTo(sliderDiv);

                            // Slider change event handler
                            slider.on('input', function() {
                                sliderValue.text($(this).val());
                            });

                            // Add buttons for bidding and passing
                            const passBidButtonsDiv = $('<div>').appendTo(playerDiv);
                            $('<button>').text('Bid').addClass('btn btn-primary').appendTo(passBidButtonsDiv);
                            $('<button>').text('Pass').addClass('btn btn-danger').appendTo(passBidButtonsDiv);

                            // pass bid Button click event handlers
                            passBidButtonsDiv.find('button').on('click', function() {
                                const bidValue = slider.val();
                                const action = $(this).text().toLowerCase(); // 'bid' or 'pass'
                                const endpoint = action === 'bid' ? 'bid' : 'pass';
                                // Call the corresponding endpoint
                                if( action === 'bid' ) {
                                    $.ajax({
                                        url: `http://147.78.130.54:5002/game/${gameId}/make_bid?player_id=${playerData.id}&bid=${bidValue}`,
                                        type: 'PUT',
                                        contentType: 'application/json',
                                        success: function(response) {
                                            alert('Bidded successfully!');
                                            $('#gameSelect').trigger('change'); // Reload the players and their cards
                                        },
                                        error: function(xhr) {
                                            alert('Failed to bid. Error: ' + xhr.responseText);
                                        }
                                    });
                                }
                                else if( action === 'pass' ) {
                                    $.ajax({
                                        url: `http://147.78.130.54:5002/game/${gameId}/pass_bid?player_id=${playerData.id}`,
                                        type: 'PUT',
                                        contentType: 'application/json',
                                        success: function(response) {
                                            alert('Passed successfully!');
                                            $('#gameSelect').trigger('change'); // Reload the players and their cards
                                        },
                                        error: function(xhr) {
                                            alert('Failed to pass. Error: ' + xhr.responseText);
                                        }
                                    });
                                }
                            });
                        }
                        // Fetch and display player's cards
                        const cards = playerData.cards_current.split(',');
                        cards.forEach(card => {
                            $('<button>')
                                .addClass('btn btn-secondary card-btn')
                                .text(card)
                                .data('gameId', gameId)
                                .data('playerId', playerData.id)
                                .data('card', card)
                                .appendTo(cardsDiv);
                        });
                    });
                    newRoundButtonDiv.find('button').on('click', function() {
                        $.ajax({
                            url: `http://147.78.130.54:5002/game/${gameId}/start_round`,
                            type: 'PUT',
                            contentType: 'application/json',
                            success: function(response) {
                                alert('Started a new round successfully!');
                                $('#gameSelect').trigger('change'); // Reload the players and their cards
                            },
                            error: function(xhr) {
                                alert('Failed to start a new round. Error: ' + xhr.responseText);
                            }
                        });
                    });
                });
            });
        });
    });

    $(document).on('click', '.card-btn', function() {
        const gameId = $(this).data('gameId');
        const playerId = $(this).data('playerId');
        const card = $(this).data('card');
        $.ajax({
            url: `http://147.78.130.54:5002/game/${gameId}/play_card`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ player_id: playerId, card: card }),
            success: function(response) {
                alert('Card played successfully!');
                $('#gameSelect').trigger('change'); // Reload the players and their cards
            },
            error: function(xhr) {
                alert('Failed to play card. Error: ' + xhr.responseText);
            }
        });
    });
});
</script>
{% endblock %}
